/*Тело и голова*/
body{
	background-color: #FFFFFF;
	margin: 0;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
    margin: auto;
    width: 1140px;
    font-family: 'Roboto', sans-serif;
}
header .checked{
	padding: 1%;
	border-radius: 5px;
	background-color: #051004;
}

.main{
	width: 90%;
	margin: auto;
	color: #000000 ;
}
.main a{
	text-decoration: none;
	font-size: 18px;
	color: #FFFFFF;
}
.upCon{
	display: flex;
	flex-direction: row;
}
.logo{
margin-left: 5%;
background-size: 100%;
width: 200px;
}
header{
	background-size: contain;
	background-image: url(../images/bg_header.jpg);
    height: auto;
    padding: 1.1% 0 1% 0; 
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
nav{
	display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
	width: 100%;
}
nav a{
	color: white;
	text-decoration: none;
	padding: 2%;
	font-size: 17pt;
}
a:hover{
	opacity: 0.7;
}

/*КОНТЕНТ*/
.content{
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	margin-bottom: 2%;
	justify-content: center;
}
.post{
	background-color: #359e93 ;
	margin: 1% 1% 1% 1%;
	padding: 0 1% 0 1%;
	border-radius: 0  0 5px 5px;
	max-width: 30%;
}
.post img{
	width: 106.85%;
	height: 50%;
	border-radius:5px 5px 0 0;
	padding: 0 1% 0 1%;
	margin-left: -4.5%;
}
.head{
	font-weight: bold;
}
/*ABOUT*/
.text{
	background-color: #20857a ;
	margin: 2% 0 2% 0;
	padding: 1%;
	border-radius: 5px;
	font-size: 23px;
}
.ab{
border-radius: 5px;
width: 100%;
margin-top: 1%;
}
/*WEAPONS TRANSPORT*/
.blocks{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-top: 3%;
}
.center{
	width: 60%;
	min-width: 60%;
	height: 100%;
	border-radius: 5px;
}

.main .h{
	font-size: 25px;
}
.main .tag{
	font-weight: bold;
	color: #5C6428;
	background-color: #051004;
	font-size: 12px; 
	margin-top: 1%;
	margin-bottom: 1%;
	width: content;
	text-align: center;
	border-radius: 5px;
	width: 20%;
}
.main .b{
	font-weight: bold;
	font-size: 18px;
}
.specifications{
	width: 100%;
 	margin: 2%;
}
.specificat{
	margin-top: 2%;
	font-size: 17px;
}
.description{
	font-size: 17px;
}
.downCon{
	margin: 2% 5% 0 2%;  /* ВЕРХ П ВНИЗ Л*/
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.openFull{
	background-color: #5F9EA0;
	color: #FFFFFF;
	width: 100%;
	padding: 5%;
	font-size: 17px;
	border-radius: 5px;
	cursor: pointer;
	min-width: 150px;
}
/*SEARCH*/
.twoBlocks{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2%;
}

input {
    background-color: #6A5ACD;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF	;
    font-size: 15px;
    height: 100%;
    outline: none;
    position: relative;
    width: 120%;
    padding-left: 5%;
    border-radius: 90px;
}
input::-webkit-input-placeholder { color: #212604; opacity: 0.6; }
input::-moz-placeholder { color: #212604; opacity: 0.6; }
.wrapper{
	margin-left: 5%;
	height: 35px;
	width: 25%;
    position: relative;
    border-radius: 90px;
    display: flex;
    flex-direction: row;
}

#SearchButton{
	background: url(../images/search.svg) no-repeat center;
    background-size: 15px 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
    outline: none;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    right: 16px;
    width: 26px;
    opacity: 0.6;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/*FOOTER*/
footer{
	background-color: #040E05;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1.5% 0 1.5% 0;
	flex-direction: row;
	width: 100%;
	color: #F6F5F5;
	font-size: 12px;
}
footer a{
	text-decoration: underline;
	color: #F6F5F5;
	opacity: 0.6; 
}
.centerAside{
	opacity: 0.6;
	font-size: 18px;
	vertical-align: middle;
}
.leftAside{
	opacity: 0.6;
	width: content;
	width: 20%;
}
.rightAside{
	width: 20%;
}
footer article{
	padding: 3% 0 0 3%;
}
footer img{
	vertical-align: middle;
	margin-right: 1%;
}
hr {
	border-color: #2E3008;
	color: #2E3008;
}

/*ASIDE*/
aside{
	width: 30%;
	min-height: 100%;
}
aside nav{
	background-color: #5C6428;
	border-radius: 5px;
	min-height: 95%;
	width: 100%;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px;
}
aside nav hr{
	margin-top: 0;
	padding-top: 0;
	width: 100%;
}
.category{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.category img{
	cursor: pointer;
}
